# 데이터프레임이란?

In [ ]:
import pandas as pd

In [10]:
df1 = pd.DataFrame([[3,2,5], [10,0,2],[6,5,3]],
                    columns = ["사과", "자두", "포도"],
                    index=["이성계", "김유신", "이순신"])
s1 = df1["사과"];

In [12]:
df1 #데이터프레임

     사과  자두  포도
이성계   3   2   5
김유신  10   0   2
이순신   6   5   3

In [15]:
df1.sum() #세로가 default

사과    19
자두     7
포도    10
dtype: int64

In [18]:
df1.values #가운데 내용물이 나온다.

array([[ 3,  2,  5],
       [10,  0,  2],
       [ 6,  5,  3]])

In [21]:
df1.index #인덱스

Index(['이성계', '김유신', '이순신'], dtype='object')

In [22]:
df1.columns

Index(['사과', '자두', '포도'], dtype='object')

In [24]:
df1.values # pandas의 df1.values가 넘파이의 array

array([[ 3,  2,  5],
       [10,  0,  2],
       [ 6,  5,  3]])

In [26]:
df1.values > 3 #넘파이는 bool형태로 변환이 용이하다. 대소비교만 해도 bool로 변환됨

array([[False, False,  True],
       [ True, False, False],
       [ True,  True, False]])

In [28]:
s1 > 3

이성계    False
김유신     True
이순신     True
Name: 사과, dtype: bool

In [37]:
pd.DataFrame([[3,2,5],[10,0,2],[6,5,3]], index=["이성계","김유신","이순신"], columns=["사과", "자두","포도"])

     사과  자두  포도
이성계   3   2   5
김유신  10   0   2
이순신   6   5   3

In [ ]:
pd.Series([3,10,6])