In [3]:
import pandas as pd
a1 = [60, 84, 80, 70, 19]
a2 = [77, 62, 95, 85, 17]
a3 = [61, 97, 72, 67, 15]
a4 = [75, 65, 95, 51, 18]
cols = ["국어", "영어", "수학", "과학", "나이"]
df = pd.DataFrame([a1, a2, a3, a4], index=list("ABCD"), columns=cols)

In [10]:
df.sort_values(["수학","나이"], ascending = [0,1]) # 0은 false, 1은 true

   국어  영어  수학  과학  나이
B  77  62  95  85  17
D  75  65  95  51  18
A  60  84  80  70  19
C  61  97  72  67  15