In [3]:
import pandas as pd

In [25]:
df1= pd.read_excel("/Users/haneul/Desktop/실습/E12EXAMPLE.xlsx")
df1

      이름   강의           전화번호
0    박선준  한국사  010-6138-6625
1    배성일  일본사  010-2901-3320
2    김민석  중국사  010-5132-3850
3    류승국  영국사  010-5328-6048
4    서재경  한국사  010-4269-7439
..   ...  ...            ...
195  김기천  영국사  010-4857-8353
196  류수영  한국사  010-2637-9031
197  김민교  한국사  010-5221-2880
198  배성종  중국사  010-5220-6744
199  김동현  유럽사  010-7826-3027

[200 rows x 3 columns]

In [28]:
pdf = df1.pivot_table("이름", index= "강의",  aggfunc= "count")
# values는 aggfunc를 따라가기 때문에 아무거나 해도 된다.
# 컬럼이 없으면 안해도된다.

In [35]:
a1 = pdf.loc[pdf["이름"] < 10].index
a1

Index(['근대사', '유럽사', '일본사'], dtype='object', name='강의')

In [34]:
df1.loc[df1["강의"].isin(a1)]
# 위의 인덱싱한 값인 '근대사','유럽사', '일본사'에 해당하는 값을 출력한다. 
# 그방식은 해당하는 값만 true로 나와서 불리언인덱싱을 쓸 수 있다.

      이름   강의           전화번호
1    배성일  일본사  010-2901-3320
7    문웅기  유럽사  010-7250-9991
192  박병철  근대사  010-8751-4652
199  김동현  유럽사  010-7826-3027