In [6]:
import pandas as pd
import numpy as np

In [8]:
pd.attribute

AttributeError: module 'pandas' has no attribute 'attribute'

In [10]:
pd.Series()

/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_64222/2031691219.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [13]:
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]

pd.Series(ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [14]:
pd.Series(ice_cream_flavors)
pd.Series(data = ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [15]:
# 데이터를 리스트에 전달하고, 인덱스는 튜플로 전달한다.

ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]

days_of_week = ("Monday", "Wednesday", "Friday", "Saturday")

pd.Series(ice_cream_flavors, days_of_week)
pd.Series(data = ice_cream_flavors, index = days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [16]:
pd.Series(index= days_of_week, data = ice_cream_flavors)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [17]:
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

In [20]:
stock_prices = [985.32, 950.44]
time_of_day = ["Open", "Close"]
pd.Series(data = time_of_day, index = stock_prices)

985.32     Open
950.44    Close
dtype: object

In [19]:
lucky_numbers = [4,8,15,16,23,42]
pd.Series(lucky_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [21]:
temperatures = [94,88,np.nan, 91]
pd.Series(data = temperatures)

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

In [24]:
calorie_info = {
    "Cereal": 125,
    "Chocolate Bar": 406,
    "Ice Cream Sundae": 342,
}

diet = pd.Series(calorie_info)
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [25]:
pd.Series(data = ("Red", "Green", "Blue"))

0      Red
1    Green
2     Blue
dtype: object

In [26]:
# 튜플을 저장하는 시리즈를 생성하려면 튜플을 리스트로 감싸야 한다.
rgb_colors = [(120,41,26),(196,165,45)]
pd.Series(data = rgb_colors)

0     (120, 41, 26)
1    (196, 165, 45)
dtype: object

In [30]:
# 시리즈 생성자에 집합을 전달하면 판다는 타입에러를 발생시킨다. 집하에는 리스트와 같은 순서 개념이나 딕셔너리와 같은 연관 개념이 없다. 
# 따라서 판다스는 집한의 값을 저장하는 순서를 가정할 수 없다.
my_set = {"Ricky", "Bobby"}
pd.Series(my_set)

TypeError: 'set' type is unordered

In [31]:
pd.Series(list(my_set))

0    Ricky
1    Bobby
dtype: object

In [32]:
random_data = np.random.randint(1,101,10)
random_data

array([13, 60, 81, 57, 23, 79, 40, 39, 69, 49])

In [33]:
pd.Series(random_data)

0    13
1    60
2    81
3    57
4    23
5    79
6    40
7    39
8    69
9    49
dtype: int64

In [35]:
# 판다스는 다른 라이브러리의 객체, 즉 넘파이의 ndarray를 사용하여 series값을 저장한다.
type(diet.values)

numpy.ndarray

In [36]:
diet.index

Index(['Cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

In [37]:
type(diet.index)

pandas.core.indexes.base.Index

In [38]:
diet.dtype

dtype('int64')

In [39]:
diet.size

3

In [41]:
# shape가 반환한 값이 1차원 튜플이라는 뜻
diet.shape

(3,)

In [42]:
diet.is_unique

True

In [45]:
pd.Series(data = [3,3]).is_unique

False

In [47]:
# 각 시리즈 값이 자신의 이전 값보다 크면 is_monotonic 속성은 true를 반환한다.
pd.Series(data = [1,3,6]).is_monotonic

/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_64222/581495754.py:2: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  pd.Series(data = [1,3,6]).is_monotonic

True

In [48]:
pd.Series(data = [1,6,3]).is_monotonic

/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_64222/296630602.py:1: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  pd.Series(data = [1,6,3]).is_monotonic

False

In [50]:
values = range(0,500,5)
nums = pd.Series(data = values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [51]:
nums.head(3)

0     0
1     5
2    10
dtype: int64

In [52]:
nums.head( n=3)

0     0
1     5
2    10
dtype: int64

In [53]:
nums.head()

0     0
1     5
2    10
3    15
4    20
dtype: int64

In [55]:
nums.tail(6)

94    470
95    475
96    480
97    485
98    490
99    495
dtype: int64

In [56]:
nums.tail()

95    475
96    480
97    485
98    490
99    495
dtype: int64

In [57]:
numbers = pd.Series([1,2,3, np.nan, 4,5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [59]:
numbers.count()

5

In [60]:
numbers.sum()

15.0

In [61]:
# null을 포함해서 연산하면 skipna false
numbers.sum(skipna = False)

nan

In [66]:
numbers.sum(min_count = 3)

15.0

In [67]:
numbers.sum(min_count = 6)

nan

In [68]:
# 시리즈 모든 값을 곱하는 메서드
numbers.product()

120.0

In [69]:
numbers.product(skipna = False)

nan

In [70]:
numbers.product(min_count = 3)

120.0

In [72]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [73]:
numbers.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [74]:
numbers.cumsum(skipna = False)

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [76]:
numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [78]:
# 아래 세 줄은 결과가 동일하다.
numbers.pct_change()
numbers.pct_change(fill_method = "pad")
numbers.pct_change(fill_method = "ffill")

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [79]:
# 역방향 채우기 전략에서는 좀 다르다. 
# Nan값을 마지막 유효값을 대체하는 것이 아닌 그 다음값으로 대체한다.
numbers.pct_change(fill_method = "bfill")
numbers.pct_change(fill_method = "backfill")

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.000000
5    0.250000
dtype: float64

In [80]:
numbers.mean()

3.0

In [82]:
numbers.median()

3.0

In [83]:
numbers.std()

1.5811388300841898

In [84]:
numbers.max()

5.0

In [85]:
numbers.min()

1.0

In [86]:
animals = pd.Series(["koala", "aardvark","zebra"])
animals

0       koala
1    aardvark
2       zebra
dtype: object

In [87]:
# 알파벳의 끝 부분에 가장 가까운 문자열
animals.max()

'zebra'

In [88]:
animals.min()

'aardvark'

In [89]:
numbers.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [101]:
authors = pd.Series( 
    ["Hemingway", "Orwell", "Dostoevsky","Fitzgerald", "Orwell"]
)

authors.unique()

array(['Hemingway', 'Orwell', 'Dostoevsky', 'Fitzgerald'], dtype=object)

In [103]:
# unique 메서드가 반환하는 배열의 길이와 같다.
authors.nunique()

4

In [107]:
s1 = pd.Series(data = [5, np.nan, 15], index = ["A","B","C"])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [108]:
s1 + 3

A     8.0
B     NaN
C    18.0
dtype: float64

In [109]:
s1.add(3)

A     8.0
B     NaN
C    18.0
dtype: float64

In [111]:
# 아래 세 줄은 결과가 동일하다.
s1 - 5
s1.sub(5)
s1.subtract(5)

A     0.0
B     NaN
C    10.0
dtype: float64

In [112]:
s1 * 2
s1.mul(2)
s1.multiply(2)

A    10.0
B     NaN
C    30.0
dtype: float64

In [113]:
s1 / 2
s1.div(2)
s1.divide(2)

A    2.5
B    NaN
C    7.5
dtype: float64

In [115]:
s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [117]:
# 버림 나눗셈 연산자를 사용하여 15를 4로 나누면 3이 된다.
s1 // 4
s1.floordiv(4)

A    1.0
B    NaN
C    3.0
dtype: float64

In [118]:
# 나머지 반환
s1 % 3 
s1.mod(3)

A    2.0
B    NaN
C    0.0
dtype: float64

In [120]:
# s1 + 3과 같은 구문은 'Series의 각 값에 동일한 연산(3을 더하기)을 적용하세요'를 의미한다. 
# 각 Series값은 같은 시간에 같은 라디오 방송을 듣는 모든 사람이 같은 노래를 듣는 것처럼 같은 메시지를 받는다.
s1= pd.Series([1,2,3], index = ["A","B","C"])
s2 = pd.Series([4,5,6], index = ["A","B","C"])

s1 + s2

A    5
B    7
C    9
dtype: int64

In [121]:
s1 = pd.Series(data = [3,6, np.nan, 12]) 
s2 = pd.Series(data = [2,6, np.nan, 12])

In [125]:
# 판다스는 nan값을 다른 nan과 다르다고 간주한다. 결측값이 다른 결측값과 같다고 가정할 수 없다.
s1 == s2
s1.eq(s2)

0    False
1     True
2    False
3     True
dtype: bool

In [128]:
# 두값이 다른지 확인
s1 != s2
s1.ne(s2)

0     True
1    False
2     True
3    False
dtype: bool

In [130]:
s1 =pd.Series(
data = [5,10,15], index = ["A","B","C"]
)
s2 = pd.Series(
    data = [4,8,12,14], index = ["B","C","D","E"])

s1 + s2

A     NaN
B    14.0
C    23.0
D     NaN
E     NaN
dtype: float64

In [131]:
cities = pd.Series(
data = ["San Francisco", "Los Angeles", "Las Vegas", np.nan]
)

In [132]:
len(cities)

4

In [133]:
type(cities)

pandas.core.series.Series

In [134]:
dir(cities)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [135]:
list(cities)

['San Francisco', 'Los Angeles', 'Las Vegas', nan]

In [137]:
dict(cities)

{0: 'San Francisco', 1: 'Los Angeles', 2: 'Las Vegas', 3: nan}

In [139]:
"Las vegas" in cities

False

In [140]:
2 in cities

True

In [142]:
"Las Vegas" in cities.values

True

In [143]:
100 not in cities

True

In [144]:
"pairs" not in cities.values

True

# 연습문제

In [160]:
superheroes = [
    "Batman",
    "superman",
    "Spider-Man",
    "Iron Man",
    "Captain America",
    "Wonder Woman"
]

strength_levels = (100,120,90,95,110,120)

In [163]:
# 1번문제. 슈퍼히어로 리스트를 사용하여 새 series 객체의 값을 채우세요.
pd.Series(superheroes)

0             Batman
1           superman
2         Spider-Man
3           Iron Man
4    Captain America
5       Wonder Woman
dtype: object

In [164]:
# 2번문제. 능력치 튜플을 사용하여 새 시리즈 객체의 값을 채우세요.
pd.Series(strength_levels)

0    100
1    120
2     90
3     95
4    110
5    120
dtype: int64

In [178]:
# 3번문제. 슈퍼히어로를 인덱스 레이블로 사용하고 스트렝스레벨을 갑승로 사용하여 시리즈를 생성해라 히로 변수에 시리즈를 할당.
heroes = pd.Series(data = strength_levels, index =superheroes )
heroes

Batman             100
superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [179]:
# 4번문제. 처음 2개 행추출
heroes.head(2)

Batman      100
superman    120
dtype: int64

In [180]:
# 5번문제. 마지막 4개행 추출
heroes.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [182]:
# 6번 문제 고유값의 개수 추출
heroes.nunique()

5

In [184]:
# 7번문제. 슈퍼 히어로의 평균 능력치
heroes.mean()

105.83333333333333

In [185]:
# 8번문제. 최대 및 최소 능력치를 구하세요.
heroes.min()

90

In [187]:
# 9번문제. 능력치가 2배가 되면 각 슈퍼 히어로의 능력치는 얼마인지 구하세요
heroes * 2

Batman             200
superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

In [188]:
# 10번문제. 히어로 시리즈를 파이썬 딕셔너리로
dict(heroes)

{'Batman': 100,
 'superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}