In [2]:
import pandas as pd

In [4]:
pd.read_csv("pokemon.csv")

         Pokemon            Type
0      Bulbasaur  Grass / Poison
1        Ivysaur  Grass / Poison
2       Venusaur  Grass / Poison
3     Charmander            Fire
4     Charmeleon            Fire
..           ...             ...
804    Stakataka    Rock / Steel
805  Blacephalon    Fire / Ghost
806      Zeraora        Electric
807       Meltan           Steel
808     Melmetal           Steel

[809 rows x 2 columns]

In [5]:
# index_col 매개변수를 사용하여 인덱스 열을 설정할 수 있다.
pd.read_csv("pokemon.csv", index_col = "Pokemon")

                       Type
Pokemon
Bulbasaur    Grass / Poison
Ivysaur      Grass / Poison
Venusaur     Grass / Poison
Charmander             Fire
Charmeleon             Fire
...                     ...
Stakataka      Rock / Steel
Blacephalon    Fire / Ghost
Zeraora            Electric
Meltan                Steel
Melmetal              Steel

[809 rows x 1 columns]

In [7]:
# 판다스가 시리즈를 사용하도록 설정하려면 squeeze라는 다른 매개변수를 추가하고 인수로 true를 전달해야 한다.
# squeeze 매개변수는 하나의 열을 가지는 Dataframe을 시리즈로 강제 변환한다.
pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True)

/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_69854/3048117.py:3: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True)

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

In [33]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True)

/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_69854/1692954362.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True)

In [16]:
# 데이터 타입 변환
pd.read_csv("google_stocks.csv", parse_dates = ["Date"]).head()

        Date  Close
0 2004-08-19  49.98
1 2004-08-20  53.95
2 2004-08-23  54.50
3 2004-08-24  52.24
4 2004-08-25  52.80

In [18]:
pd.read_csv("google_stocks.csv",
            parse_dates = ["Date"],
            index_col = "Date",
           squeeze = True
           ).head()

/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_69854/3383391764.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv("google_stocks.csv",

Date
2004-08-19    49.98
2004-08-20    53.95
2004-08-23    54.50
2004-08-24    52.24
2004-08-25    52.80
Name: Close, dtype: float64

In [22]:
google = pd.read_csv(
            "google_stocks.csv",
            parse_dates = ["Date"],
            index_col = "Date",
           squeeze = True
           )

/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_69854/1968218831.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  google = pd.read_csv(

In [24]:
pd.read_csv("revolutionary_war.csv").tail()

                         Battle  Start Date     State
227         Siege of Fort Henry   9/11/1782  Virginia
228  Grand Assault on Gibraltar   9/13/1782       NaN
229   Action of 18 October 1782  10/18/1782       NaN
230   Action of 6 December 1782   12/6/1782       NaN
231   Action of 22 January 1783   1/22/1783  Virginia

In [26]:
pd.read_csv("revolutionary_war.csv",
           index_col = "Start Date",
           parse_dates = ["Start Date"]
           ).tail()

                                Battle     State
Start Date
1782-09-11         Siege of Fort Henry  Virginia
1782-09-13  Grand Assault on Gibraltar       NaN
1782-10-18   Action of 18 October 1782       NaN
1782-12-06   Action of 6 December 1782       NaN
1783-01-22   Action of 22 January 1783  Virginia

In [27]:
# 기본적으로 Read_csv 함수는 csv에서 모든 열을 가져온다. 시리즈로 변환하고 싶다면 가져오기를 2개의 열로 제한해야 한다. 하나는  인덱스용이고 다른 하나는 값용이다.
# 위 예저에서는 Squeeze 매개변수를 사용해도 원하는 결과를 얻을 수 없다. 판다스는 데이터 열이 2개 이상 있는 경우 매개변수를 무시한다.
pd.read_csv(
        "revolutionary_war.csv",
        index_col = "Start Date",
        parse_dates = ["Start Date"],
        usecols = ["State", "Start Date"],
        squeeze = True,
)

/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_69854/831601476.py:3: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv(

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object

In [28]:
battles = pd.read_csv(
        "revolutionary_war.csv",
        index_col = "Start Date",
        parse_dates = ["Start Date"],
        usecols = ["State", "Start Date"],
        squeeze = True,
)

/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_69854/2894972780.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  battles = pd.read_csv(

In [31]:
google.sort_values()

Date
2004-09-03      49.82
2004-09-01      49.94
2004-08-19      49.98
2004-09-02      50.57
2004-09-07      50.60
               ...
2019-04-23    1264.55
2019-10-25    1265.13
2018-07-26    1268.33
2019-04-26    1272.18
2019-04-29    1287.58
Name: Close, Length: 3824, dtype: float64

In [35]:
pokemon.sort_values()

Pokemon
Illumise                Bug
Silcoon                 Bug
Pinsir                  Bug
Burmy                   Bug
Wurmple                 Bug
                  ...
Tirtouga       Water / Rock
Relicanth      Water / Rock
Corsola        Water / Rock
Carracosta     Water / Rock
Empoleon      Water / Steel
Name: Type, Length: 809, dtype: object

In [37]:
# 판다스는 대문자를 소문자보다 먼저 정렬한다. 따라서 대문자 'Z'는 소문자 'a'앞에 온다.
pd.Series(data = ["Adam", "adam","Ben"]).sort_values()

0    Adam
2     Ben
1    adam
dtype: object

In [39]:
google.sort_values(ascending = False).head()

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
Name: Close, dtype: float64

In [41]:
pokemon.sort_values(ascending = False).head()

Pokemon
Empoleon      Water / Steel
Corsola        Water / Rock
Relicanth      Water / Rock
Carracosta     Water / Rock
Tirtouga       Water / Rock
Name: Type, dtype: object

In [43]:
# na_position 매개변수는 반환된 Series에서 NaN 값을 어디에 배치할지를 결정하며 기본 인수로 Last를 갖는다. 기본적으로 판다스는 정렬된 Series의 마지막에 결측값을 배치한다.
battles.sort_values()
battles.sort_values(na_position = "last")

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1782-08-08            NaN
1782-08-25            NaN
1782-09-13            NaN
1782-10-18            NaN
1782-12-06            NaN
Name: State, Length: 232, dtype: object

In [45]:
battles.sort_values(na_position = "first")

Start Date
1775-09-17         NaN
1775-12-31         NaN
1776-03-03         NaN
1776-03-25         NaN
1776-05-18         NaN
                ...
1781-07-06    Virginia
1781-07-01    Virginia
1781-06-26    Virginia
1781-04-25    Virginia
1783-01-22    Virginia
Name: State, Length: 232, dtype: object

In [47]:
battles.dropna().sort_values()

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1781-07-06       Virginia
1781-07-01       Virginia
1781-06-26       Virginia
1781-04-25       Virginia
1783-01-22       Virginia
Name: State, Length: 162, dtype: object

In [49]:
battles.dropna().sort_values()

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1781-07-06       Virginia
1781-07-01       Virginia
1781-06-26       Virginia
1781-04-25       Virginia
1783-01-22       Virginia
Name: State, Length: 162, dtype: object

In [52]:
# 인덱스를 기준으로 값을 정렬한다.
pokemon.sort_index()
pokemon.sort_index(ascending = True)

Pokemon
Abomasnow        Grass / Ice
Abra                 Psychic
Absol                   Dark
Accelgor                 Bug
Aegislash      Steel / Ghost
                  ...
Zoroark                 Dark
Zorua                   Dark
Zubat        Poison / Flying
Zweilous       Dark / Dragon
Zygarde      Dragon / Ground
Name: Type, Length: 809, dtype: object

In [53]:
# NaT은 not a time
battles.sort_index()

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1783-01-22         Virginia
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
Name: State, Length: 232, dtype: object

In [54]:
battles.sort_index(na_position = "first").head()

Start Date
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
1774-09-01    Massachusetts
Name: State, dtype: object

In [58]:
google.sort_index(ascending = False).head()

Date
2019-10-25    1265.13
2019-10-24    1260.99
2019-10-23    1259.13
2019-10-22    1242.80
2019-10-21    1246.15
Name: Close, dtype: float64

In [59]:
# nlargest 메서드는 시리즈에서 가장 큰 값을 반환한다. 
# 첫번째 매개변수인 n은 반환할 레코드의 개수를 설정한다.
# 아래 두값은 같다.
google.nlargest(n =5)
google.nlargest()

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
Name: Close, dtype: float64

In [60]:
google.nsmallest(n=5)
google.nsmallest(5)

Date
2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
Name: Close, dtype: float64

- nlargest와 nsmallest는 series에서 사용할 수 없다.

In [62]:
pokemon.head()

Pokemon
Bulbasaur     Grass / Poison
Ivysaur       Grass / Poison
Venusaur      Grass / Poison
Charmander              Fire
Charmeleon              Fire
Name: Type, dtype: object

In [63]:
pokemon.value_counts()

Normal                65
Water                 61
Grass                 38
Psychic               35
Fire                  30
                      ..
Fire / Psychic         1
Normal / Ground        1
Psychic / Fighting     1
Dark / Ghost           1
Fire / Ghost           1
Name: Type, Length: 159, dtype: int64

In [65]:
len(pokemon.value_counts())

159

In [67]:
pokemon.nunique()

159

In [68]:
pokemon.value_counts(ascending = True)

Fire / Ghost         1
Fighting / Dark      1
Fighting / Steel     1
Normal / Ground      1
Fire / Psychic       1
                    ..
Fire                30
Psychic             35
Grass               38
Water               61
Normal              65
Name: Type, Length: 159, dtype: int64

In [71]:
pokemon.value_counts(normalize = True) * 100

Normal                8.034611
Water                 7.540173
Grass                 4.697157
Psychic               4.326329
Fire                  3.708282
                        ...
Fire / Psychic        0.123609
Normal / Ground       0.123609
Psychic / Fighting    0.123609
Dark / Ghost          0.123609
Fire / Ghost          0.123609
Name: Type, Length: 159, dtype: float64

In [72]:
(pokemon.value_counts(normalize = True) * 100).round(2)

Normal                8.03
Water                 7.54
Grass                 4.70
Psychic               4.33
Fire                  3.71
                      ...
Fire / Psychic        0.12
Normal / Ground       0.12
Psychic / Fighting    0.12
Dark / Ghost          0.12
Fire / Ghost          0.12
Name: Type, Length: 159, dtype: float64

In [73]:
google.value_counts().head()

287.68    3
194.27    3
307.10    3
288.92    3
290.41    3
Name: Close, dtype: int64

In [75]:
google.max()

1287.58

In [76]:
google.min()

49.82

In [77]:
buckets = [0,200,400,600,800,1000,1200,1400]
google.value_counts(bins = buckets)

(200.0, 400.0]      1568
(-0.001, 200.0]      595
(400.0, 600.0]       575
(1000.0, 1200.0]     406
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1200.0, 1400.0]      93
Name: Close, dtype: int64

In [85]:
# 메서드 체이닝: 여러 메서드를 순서대로 호출하는 기술
# 동일한 방법 
google.value_counts(bins = buckets).sort_index()
google.value_counts(bins = buckets, sort = False)

# 폐구간은 두 끝점이 모두 포함된다. 예를 들어 [5,10]은 5이상, 10이하의 구간을 나타낸다.
# 개구간은 두 끝점을 모두 제외한다. 예를 들어 (5, 10)은 5보다 크고 10보다 작은 구간을 나타낸다.

(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1000.0, 1200.0]     406
(1200.0, 1400.0]      93
Name: Close, dtype: int64

In [86]:
# google의 주가를 6개의 빈으로 나누는 예제
google.value_counts(bins = 6, sort = False)

(48.581, 256.113]      1204
(256.113, 462.407]     1104
(462.407, 668.7]        507
(668.7, 874.993]        380
(874.993, 1081.287]     292
(1081.287, 1287.58]     337
Name: Close, dtype: int64

In [87]:
battles.head()

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
Name: State, dtype: object

In [88]:
battles.value_counts()

South Carolina    31
New York          28
New Jersey        24
Virginia          21
Massachusetts     11
Pennsylvania      10
North Carolina     9
Florida            8
Georgia            6
Rhode Island       3
Connecticut        3
Vermont            3
New Hampshire      1
Delaware           1
Indiana            1
Louisiana          1
Ohio               1
Name: State, dtype: int64

In [90]:
battles.value_counts(dropna = False).head()

NaN               70
South Carolina    31
New York          28
New Jersey        24
Virginia          21
Name: State, dtype: int64

In [91]:
battles.index

DatetimeIndex(['1774-09-01', '1774-12-14', '1775-04-19', '1775-04-19',
               '1775-04-20', '1775-05-10', '1775-05-27', '1775-06-11',
               '1775-06-17', '1775-08-08',
               ...
               '1782-08-08', '1782-08-15', '1782-08-19', '1782-08-26',
               '1782-08-25', '1782-09-11', '1782-09-13', '1782-10-18',
               '1782-12-06', '1783-01-22'],
              dtype='datetime64[ns]', name='Start Date', length=232, freq=None)

In [95]:
# 3번 이상 전투가 있던 적은 없다.
battles.index.value_counts()

1781-04-25    2
1781-05-22    2
1780-08-18    2
1781-09-13    2
1782-03-16    2
             ..
1778-06-30    1
1778-07-03    1
1778-07-27    1
1778-08-21    1
1783-01-22    1
Name: Start Date, Length: 217, dtype: int64

In [96]:
funcs = [len, max, min]

In [97]:
for current_func in funcs:
    print(current_func(google))

3824
1287.58
49.82

In [98]:
# 모든 시리즈 값에 대한 함수 호출
# 다음 두줄은 같다.
google.apply(func = round)
google.apply(round)

Date
2004-08-19      50
2004-08-20      54
2004-08-23      54
2004-08-24      52
2004-08-25      53
              ...
2019-10-21    1246
2019-10-22    1243
2019-10-23    1259
2019-10-24    1261
2019-10-25    1265
Name: Close, Length: 3824, dtype: int64

In [116]:
def single_or_multi(pokemon_type):
    if "/" in pokemon_type:
        return "multi"
    
    return "single"

In [101]:
pokemon.head()

Pokemon
Bulbasaur     Grass / Poison
Ivysaur       Grass / Poison
Venusaur      Grass / Poison
Charmander              Fire
Charmeleon              Fire
Name: Type, dtype: object

In [118]:
pokemon.apply(single_or_multi)

Pokemon
Bulbasaur       multi
Ivysaur         multi
Venusaur        multi
Charmander     single
Charmeleon     single
                ...
Stakataka       multi
Blacephalon     multi
Zeraora        single
Meltan         single
Melmetal       single
Name: Type, Length: 809, dtype: object

In [120]:
pokemon.apply(single_or_multi).value_counts()

multi     405
single    404
Name: Type, dtype: int64

In [164]:
# 문제1. 한 역사사가 여러분에게 와서 독립 전쟁 중에 가장 많은 전투가 발생한 요일이 무엇인지 알려달라고 도움을 요청했다.
# 최종출력은 요일을 인덱스 레이블로, 각 날짜의 전투 횟수를 값으로 가지는 시리즈여야 한다.

In [165]:
pd.read_csv("revolutionary_war.csv")

                                Battle  Start Date          State
0                         Powder Alarm    9/1/1774  Massachusetts
1    Storming of Fort William and Mary  12/14/1774  New Hampshire
2     Battles of Lexington and Concord   4/19/1775  Massachusetts
3                      Siege of Boston   4/19/1775  Massachusetts
4                   Gunpowder Incident   4/20/1775       Virginia
..                                 ...         ...            ...
227                Siege of Fort Henry   9/11/1782       Virginia
228         Grand Assault on Gibraltar   9/13/1782            NaN
229          Action of 18 October 1782  10/18/1782            NaN
230          Action of 6 December 1782   12/6/1782            NaN
231          Action of 22 January 1783   1/22/1783       Virginia

[232 rows x 3 columns]

In [168]:
battles = pd.read_csv("revolutionary_war.csv",
            parse_dates = ["Start Date"],
            usecols = ["Start Date"],
        squeeze = True,
)

/var/folders/yh/smj7ptzs057g14vbhqqqhcq00000gn/T/ipykernel_69854/552865767.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  battles = pd.read_csv("revolutionary_war.csv",

In [171]:
def day_of_week(Start_Date):
    return Start_Date.strftime("%A")

In [176]:
battles.dropna().apply(day_of_week).value_counts()

Saturday     39
Friday       39
Wednesday    32
Thursday     31
Sunday       31
Tuesday      29
Monday       27
Name: Start Date, dtype: int64